.paycon {
    width: 90%;
    padding: 20rpx;
    margin: 20rpx auto;
    border-radius: 24rpx;
    color: #fff;
    line-height: 52rpx;
    font-size:30rpx;
    background: #65D488;
}
.paycon .cat {
    display:flex;
    flex-basis: 100%;
    justify-content: center;
    line-height:46rpx;
}
.section input {
    display:block;
    width: 90%;
    height:60rpx;
    margin: 20rpx auto;
    line-height:60rpx;
    border: 2rpx solid #eee;
    background: #fff;
    color: #333;
    border-radius: 12rpx;
    padding: 12rpx 20rpx;
    -webkit-appearance: none;
    outline:none;
}
.pay-btn {
    margin-top: 14rpx;
    margin-left:40rpx;
    margin-right:40rpx;
    background: #55C278;
    color: white
}